h1,h2 {
  font-family: 'Fredoka One';
  font-style: italic;
  text-align: center;
  padding: 5px;
}

h5 {
  font-family: 'Fredoka One';
  text-align: center;
 
}

h4 {
  text-align: center;
}

body, html {
    height: 100%;
    font-family: 'Fredoka One';
    padding: 2px;
}

img {
    background-image: url("https://www.maxim.com/.image/c_limit%2Ccs_srgb%2Cq_auto:good%2Cw_1240/MTU4MTIyMDgxOTg3MzM5ODk4/n103tf0g.webp");
    height: auto;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand {
  font-size: 200%;
}

.background {
  background-image: url(https://images.ctfassets.net/hbmwn5pbkdff/4KVSaIwf1xBFQrYaRiQebU/3780b1fe4644d17a87263ebbb00a3a77/SUSTAINABILITY_IMAGE_BLOCK_4.jpg?w=1000);
  height: 100%;
  width: auto;
}

span {
  color: white;
}